<div class="bg-white min-h-screen">
  <header class="relative flex items-center bg-bgColorBlue text-white p-4 shadow-md">
    <button class="absolute left-0 p-4 " (click)="onClose()">
      <i class="fas fa-chevron-left text-white"></i>
    </button>

    <!-- Información del vehículo centrada -->
    <div class="mx-auto flex items-center">
      <h1 class="text-xl font-medium">{{ vehicle.make }} - {{ vehicle.model }}</h1>
      <p class="text-xl ml-4">{{ vehicle.plate | uppercase }}</p>
    </div>
  </header>

  <div class="bg-bgAzulClaron p-4 shadow-md flex justify-between">
    <!-- Tipo de vehículo -->
    <div class="flex-1">
      <p class="text-lg font-normal">Tipo: <span class="font-bold text-lg">{{vehicle.category}}</span></p>
    </div>



    <!-- Selector para cambiar estado del vehículo, con margen a la izquierda -->
    <div class="relative inline-block text-left w-36 text-white text-sm">
      <!-- Trigger dropdown with lighter background for the selected option -->
      <div 
        class="p-1 border border-gray-300 rounded-3xl flex items-center justify-between cursor-pointer"
        [ngClass]="{
          'bg-green-600': selectedStatus === 'Disponible', 
          'bg-yellow-400': selectedStatus === 'Reparacion', 
          'bg-red-600': selectedStatus === 'Ocupado', 
          'bg-slate-200': selectedStatus === 'Deshabilitado'
        }"
        (click)="toggleDropdown()">
        <div class="flex items-center">
          <!-- Colored ball to represent the status -->
          <span 
            class="flex items-center justify-center h-2 w-2 rounded-full mx-2"
            [ngClass]="{
              'bg-[#59F63A]': selectedStatus === 'Disponible',
              'bg-yellow-600': selectedStatus === 'Reparacion',
              'bg-[#9E1618]': selectedStatus === 'Ocupado',
              'bg-slate-700': selectedStatus === 'Deshabilitado'
            }"></span>
          {{ selectedStatus }}
        </div>
        <i class="fas fa-chevron-down mr-1"></i>
      </div>
    
      <!-- Dropdown menu -->
      <div *ngIf="isDropdownOpen" 
           class="absolute z-10 mt-2 w-full rounded-md bg-white shadow-lg text-black">
        <div class="py-1">
          <div class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
               (click)="selectStatus('Disponible')">
            <span class="flex items-center justify-center h-4 w-4 rounded-full mr-2 bg-green-600"></span>
            Disponible
          </div>
          <div class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
               (click)="selectStatus('Ocupado')">
            <span class="flex items-center justify-center h-4 w-4 rounded-full mr-2 bg-red-500"></span>
            Ocupado
          </div>
          <div class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
               (click)="selectStatus('Reparacion')">
            <span class="flex items-center justify-center h-4 w-4 rounded-full mr-2 bg-yellow-400"></span>
            Reparación
          </div>
          <div class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
               (click)="selectStatus('Deshabilitado')">
            <span class="flex items-center justify-center h-4 w-4 rounded-full mr-2 bg-slate-500"></span>
            Deshabilitado
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Botones de acción -->
  <div class="flex flex-col gap-4 p-4">
    <button class="bg-bgColorBlue text-white py-2 rounded-md shadow-md w-full text-center" (click)="onNavegation()">Ver Mantenimientos</button>
    <button class="bg-bgColorBlue text-white py-2 rounded-md shadow-md w-full text-center">Historial de Inspecciones</button>
  </div>

  <!-- Sección del conductor -->
  <div class="p-4">
    <h2 class="font-bold text-sm">Conductor</h2>
    <select class="mt-2 p-2 border border-gray-300 rounded w-full">
      <option>Seleccionar conductor</option>
    </select>
  </div>

  <div class="flex flex-col gap-4 p-4">
    <button class="bg-bgColorBlue text-white py-2 rounded-md shadow-md flex items-center justify-center">
      <i class="fas fa-calendar-alt mr-2"></i> Historial de Conductores
    </button>
    <button (click)="onEditInspeccion()" class="bg-bgColorBlue text-white py-2 rounded-md shadow-md flex items-center justify-center">
      <i class="fas fa-edit mr-2"></i> Editar Inspección
    </button>
  </div>
</div>
