<div>
    <!-- Navigation buttons for sections -->
    
    <div *ngIf="currentSection === 0">
      <app-sistemadeluces></app-sistemadeluces>
    </div>
  
    <div *ngIf="currentSection === 1">
      <app-estado-cubiertas></app-estado-cubiertas>
    </div>
  
    <div *ngIf="currentSection === 2">
        <app-tapasy-otros></app-tapasy-otros>
    </div>

    <div *ngIf="currentSection === 3">
        <app-accesorios-seguridad></app-accesorios-seguridad>
      </div>
    
    <div *ngIf="currentSection === 4">
        <app-parte-externa></app-parte-externa>
      </div>

    <div *ngIf="currentSection === 5">
      <app-parte-interna></app-parte-interna>
    </div>

    <div *ngIf="currentSection === 6">
        <app-documentacion></app-documentacion>
      </div>

</div>
  
  <!-- Back and Next buttons for navigation -->
  <div class="mt-8 flex justify-between fixed bottom-4 left-0 right-0 px-4">
    <!-- Back Button -->
    <!-- <button 
      class="bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 px-4" 
      (click)="previousSection()"*ngIf="currentSection > 0">
      Atras
    </button> -->
  
    <!-- Conditional Next or Submit Button -->
    <button *ngIf="!isLastSection(); else submitButton"
      class="bg-blue-950 hover:bg-blue-800 text-white font-bold py-2 px-4 mx-auto rounded" 
      (click)="nextSection()">
      Adelante
    </button>
  
    <!-- Submit Button -->
    <ng-template #submitButton>
      <button 
        class="bg-blue-950 hover:bg-blue-800 text-white font-bold py-2 px-4 mx-auto rounded" 
        (click)="submitForm()">
        Terminar
      </button>
    </ng-template>
  </div>
  
  