<div class="container sticky top-0 left-0 right-0">

  <header class="flex items-center justify-between p-4 bg-blue-900 text-white shadow-md">
    <div>
      <h1 class="text-xl">Bienvenido, {{nombre}}</h1>
      <span class="text-sm">Administrador</span>
    </div>

    <button class="p-2 text-[25px]">
      <i class="fa-solid fa-bars"></i>
    </button>
  </header>
  

  <nav class="flex justify-around bg-white p-2 pt-4 shadow-md">
    <button routerLink="/home"
      routerLinkActive="border-blue-500 text-blue-950 font-semibold border-b-4 padding-b-10 border-blue-950 "
      class="font-medium " [routerLinkActiveOptions]="{exact: true}">Flota vehicular</button>
    <button routerLink="/conductores"
      routerLinkActive="border-blue-500 text-blue-950 font-semibold border-b-4 border-blue-950 " class="font-medium "
      [routerLinkActiveOptions]="{exact: true}">Conductores</button>
  </nav>

</div>