body {
    margin: 0;
    padding: 0;
  }

.font-medium {
    font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
    .container {
        margin: 10px 10% auto 10%;    }

        .name{
            font-size: 22px;
        }
  }