<div class="sticky top-0 left-0 right-0">

    <header class="flex items-center justify-between bg-[#0a135d] p-4 bg-header shadow-md ">
      <div class="font-medium text-white">
        <ul>
          <li>Bienvenido, {{User?.name}}!</li>
          <li class="text-gray-400">{{User?.rol}}</li>
        </ul>
      </div>
      <app-togglemenu></app-togglemenu>
    </header>
  
  

  <nav class="flex justify-around bg-white p-2 pt-4 shadow-md">
    <button routerLink="/home"
      routerLinkActive="border-blue-500 text-blue-950 font-semibold border-b-4 padding-b-10 border-blue-950 "
      class="font-medium " [routerLinkActiveOptions]="{exact: true}">Flota vehicular</button>
    <button routerLink="/conductores"
      routerLinkActive="border-blue-500 text-blue-950 font-semibold border-b-4 border-blue-950 " class="font-medium "
      [routerLinkActiveOptions]="{exact: true}">Conductores</button>
  </nav>

</div>