<div class="sticky top-0 left-0 right-0">

    <header class="flex items-center justify-between bg-[#0a135d] p-4 bg-header shadow-md ">

        <button routerLink="/conductores"><svg style="margin-left: 20px" width="8" height="14" viewBox="0 0 8 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M7 13L1 7L7 1" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>



        <p class="text-base text-white">
            Perfil de conductor
        </p>
        <app-togglemenu></app-togglemenu>
    </header>