<!-- Main modal -->
<app-editmodal
*ngIf="selectedVehicle" 
[vehicle]="selectedVehicle" 
(vehicleUpdated)="onVehicleUpdated(selectedVehicle.id, $event)"
(vehicleCreated)="onVehicleCreated($event)"
(modalClosed)="onCloseModal()">
</app-editmodal>


  <div *ngFor="let vehicle of flotas" class="vehicle-card">
    <div class="desktop-view">
        <tr>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">Marca</th>
            <th scope="col" class="px-6 py-3">Modelo</th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">Año</th>
            <th scope="col" class="px-6 py-3">vin</th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">Placa</th>
            <th scope="col" class="px-6 py-3">Color</th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">Kilometraje</th>
            <th scope="col" class="px-6 py-3">Dueño</th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">Estado</th>
            <th scope="col" class="px-6 py-3">Acción</th>
        </tr>
        <tr>
            <th scope="col" class="px-6 py-3 ">{{vehicle.make}}</th>
            <th scope="col" class="px-6 py-3">{{vehicle.model}}</th>
            <th scope="col" class="px-6 py-3 ">{{vehicle.year}}</th>
            <th scope="col" class="px-6 py-3">{{vehicle.vin}}</th>
            <th scope="col" class="px-6 py-3 ">{{vehicle.plate}}</th>
            <th scope="col" class="px-6 py-3">{{vehicle.color}}</th>
            <th scope="col" class="px-6 py-3 ">{{vehicle.mileage}}</th>
            <th scope="col" class="px-6 py-3">{{vehicle.owner}}</th>
            <th scope="col" class="px-6 py-3 ">{{vehicle.state}}</th>
            <th scope="col" class="px-6 py-3">
                <button (click)="onEdit(vehicle)">Edit</button>
                <button (click)="onDelete(vehicle.id)">Delete</button>
            </th>
        </tr>
    </div>
  
    <div class="mobile-view">
        <h3>Lista de vehiculos</h3>

        <div>
            <tr scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">{{vehicle.make}}</tr>
            <tr scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">{{vehicle.model}}</tr>
            <tr scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">{{ vehicle.plate }}</tr>
            <tr scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">{{ vehicle.status }}</tr>
        <div>
      <button (click)="onEdit(vehicle)">Edit</button>
      <button (click)="onDelete(vehicle.id)">Delete</button>
    </div>
  </div>


  <button class="btn btn-success" (click)="openCreateVehicleModal()">Create Vehicle</button>
  