<!-- src/app/components/sistema-luces/sistema-luces.component.html -->
<div>Sistema de Luces</div>
<form [formGroup]="lucesForm">
    <label>
      <input type="checkbox" formControlName="luzDelanteraAlta">
      Luz Delantera Alta
    </label>
  
    <label>
      <input type="checkbox" formControlName="luzDelanteraBaja">
      Luz Delantera Baja
    </label>
  
    <label>
      <input type="checkbox" formControlName="lucesEmergencia">
      Luces de Emergencia
    </label>
  
    <label>
      <input type="checkbox" formControlName="lucesDireccionalesDelanteras">
      Luces Direccionales Delanteras
    </label>
  
    <label>
      <input type="checkbox" formControlName="lucesDireccionalesPosteriores">
      Luces Direccionales Posteriores
    </label>
  
    <label>
      <input type="checkbox" formControlName="luzReversa">
      Luz Reversa
    </label>
  
    <label>
      <input type="checkbox" formControlName="lucesdeFrenoPosterior">
      Luces de Freno Posterior
    </label>
  
    
  </form>
  