<app-headerc></app-headerc>

<form [formGroup]="reporteForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto p-4 bg-white rounded shadow-md">
    
    <div class="mb-4">
      <label for="fecha" class="block text-gray-700 font-semibold mb-2">Fecha:</label>
      <input 
        type="date" 
        id="fecha" 
        formControlName="date"
        name="fecha" 
        required 
        class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-blue-500"
      />
    </div>
  
    <div class="mb-4">
      <label for="descripcion" class="block text-gray-700 font-semibold mb-2">Descripción:</label>
      <input 
      placeholder=""
        type="text" 
        id="descripcion" 
        formControlName="description"
        name="descripcion" 
        required 
        class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-blue-500"
      />
    </div>
  
    <div class="mb-4">
      <label for="pasajeros" class="block text-gray-700 font-semibold mb-2">Pasajeros:</label>
      <input 
        placeholder="ej: 2"
        type="number" 
        id="pasajeros" 
        formControlName="passengers"
        name="pasajeros" 
        required 
        class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-blue-500"/>
    </div>
  
    <div class="mb-4">
      <label for="detalles" class="block text-gray-700 font-semibold mb-2" >Detalles:</label>
      <textarea 
      placeholder="-Hora del incidente
-Ubicación 
-Información del otro vehículo (Marca, color, patente)
-Información del otro involucrado
-Seguro (nombre de compañía y número de poliza)"
        id="detalles" 
        formControlName="vehicleStateDescription"
        name="detalles" 
        required 
        rows="4"
        class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-blue-500"
      ></textarea>
    </div>

    <button
      type="submit" 
      class="w-full bg-blue-950 text-white font-semibold py-2 rounded hover:bg-blue-900">
      Enviar
    </button>
  </form>


  <div class="relative mt-5 bottom-0 left-0 right-0">
    <app-footer-desktop></app-footer-desktop>
</div>