section{
  background-color: #FAFAFA;
}

.botonLogin{
  background-color: #0a135d;
}

.logo{
  width: 16rem;
}

input:focus {
  outline: none !important; /* Elimina el contorno predeterminado */
  border-color:rgba(10, 19, 93, 0.8) ; /* Aplica un nuevo efecto de enfoque */
}