<div>Parte Interna</div>
<div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Parte Interna</h2>
  
    <form [formGroup]="parteInterna">
      <div class="space-y-4">
        <div class="flex items-center">
          <input type="checkbox" id="asientos" formControlName="asientos" class="mr-2">
          <label for="asientos" class="text-lg">Asientos</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="volante" formControlName="volante" class="mr-2">
          <label for="volante" class="text-lg">Volante</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="panel" formControlName="panel" class="mr-2">
          <label for="panel" class="text-lg">Panel de control</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="espejoRetrovisor" formControlName="espejoRetrovisor" class="mr-2">
          <label for="espejoRetrovisor" class="text-lg">Espejo Retrovisor</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="alfombra" formControlName="alfombra" class="mr-2">
          <label for="alfombra" class="text-lg">Alfombra</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="puertasInternas" formControlName="puertasInternas" class="mr-2">
          <label for="puertasInternas" class="text-lg">Puertas Internas</label>
        </div>
      </div>
    </form>
  </div>
  