<!-- header.component.html -->
<header 
    id="top-bar"
    class="fixed top-0 left-0 right-0 z-10 bg-[#0a135d] shadow transition-transform duration-300">
    <div class="flex justify-between items-center p-4">
      <button (click)="goBack()" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M15 18L9 12L15 6" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      </button>
      <h1 class="text-lg text-white text-center">Checklist</h1>
      <nav class="mx-1 text-[#0a135d]">|</nav>
    </div>
  </header>

<div class="container mx-auto p-4 pt-16">
    <!-- Input field to add a new section, visible when showNewSectionInput is true -->
<div *ngIf="showNewBulletInput" class="mt-2">
    <input
      [(ngModel)]="newBulletDescription"
      (keydown.enter)="createBullet()"
      placeholder="Nombre de la nueva seccion"
      class="border p-2 rounded-md w-full mb-2"
    />
  </div>


  <div *ngIf="bullets.length > 0; else noBullets">
    <!-- Toggle Delete Buttons -->
    <button (click)="toggleDeleteButtons()" class="ml-2 mt-2 bg-[#0a135d] text-white px-4 py-2 rounded hover:bg-gray-600">
      Editar
    </button>
  
    <ul class="mt-2 ">
        <li *ngFor="let bullet of bullets" class="flex justify-between items-center mb-2 transition-shadow duration-200 hover:shadow-lg p-1 rounded">
          <!-- Bullet description with shadow on hover effect -->
          <div class="flex justify-between items-center py-2 ml-2">
            {{ bullet.description }}
          </div>
          <ul class="list-disc list-inside"></ul>
      
          <!-- Toggle and Delete button container -->
          <label class="inline-flex items-center cursor-pointer ml-2">
            <!-- Delete button (visible based on toggle) -->
            <button *ngIf="showDeleteButtons"
                    (click)="deleteBullet(bullet._id!)"
                    class="bg-red-500 text-white px-2 ring-2 rounded-full hover:bg-red-600 mr-3">
              x
            </button>
      
            <!-- Actual checkbox input for toggling "requerido" -->
            <input type="checkbox" class="sr-only peer" [checked]="bullet.requerido" (change)="toggleRequerido(bullet)">
            
            <!-- Styled div for the toggle switch -->
            <div class="relative w-9 h-5 rounded-full transition-colors duration-300 mr-2"
              [ngClass]="bullet.requerido ? 'bg-green-600' : 'bg-red-600'">
              <!-- Toggle handle inside the switch -->
              <div class="absolute top-[2px] left-[2px] bg-white border border-gray-300 rounded-full h-4 w-4 transition-transform"
                [ngClass]="bullet.requerido ? 'translate-x-full' : ''">
              </div>
            </div>
          </label>
        </li>
      </ul>
      
  </div>

    <div
        id="bottom-bar"
        class="fixed bottom-0 left-0 right-0 bg-blue-100 shadow-lg p-2 transition-transform duration-300 transform translate-y-0"
        (click)="showNewBulletInput = true"    
        >
        <div class="flex justify-center">
          <button
            class="w-80 bg-[#0a135d] rounded p-2 text-white text-center m-2"
            >
            Crear check
        </button>
        </div>
    </div>
  
  <!-- Error message -->
  <div *ngIf="errorMessage" class="text-red-500">
    {{ errorMessage }}
  </div>
  
  
  <ng-template #noBullets>
    <p>No se encontraron checks en esta seccion.</p>
  </ng-template>

  



</div>