<!-- Spinner de carga -->
<div *ngIf="isLoading" class="absolute inset-0 flex justify-center items-center backdrop-blur-sm bg-opacity-30 z-10">
  <div class="loader"></div>
</div>

<header 
    id="top-bar"
class="fixed top-0 left-0 right-0 z-10 bg-[#0a135d] shadow transition-transform duration-300">
    <div class="flex justify-between p-3">
      <button (click)="goBack()" class="text-blue-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M15 18L9 12L15 6" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
        <h1 class="text-lg text-white pt-1">Checklist</h1>
      <app-togglemenu></app-togglemenu>
    </div>
  </header>
  

<div class="container mx-auto p-4 pt-20">
  <div class="bg-[#E8EFFF]  p-4 mb-4">
    Marque con un tilde los ítems que sean obligatorios para la inspección.
  </div>
    <!-- Input field to add a new section, visible when showNewSectionInput is true -->
    <li 
    *ngFor="let bullet of bullets"  
    class="bg-[#FAFAFA] border font-medium p-1 mb-2 flex justify-between items-center rounded"
  >
    <!-- Display bullet description -->
    <div class="m-2 w-3/5 text-normal">
      <!-- Show the input field when editing -->
      <ng-container *ngIf="isEditing && editedBullet?._id === bullet._id; else viewBullet">
        <input 
          type="text" 
          [(ngModel)]="bulletDescription"
          class="border p-2 w-full rounded"
          placeholder="Enter bullet description"
          (click)="$event.stopPropagation()"
        />
      </ng-container>
      <ng-template #viewBullet>
        {{ bullet.description }}
      </ng-template>
    </div>
  
    <!-- Action buttons for edit, delete, and toggle "requerido" status -->
    <div class="flex w-2/5 justify-end relative">
      
     
      
      <!-- Three dots icon to open the modal on smaller screens -->
      <div class="block md:hidden">
        
        <ng-container *ngIf="isEditing && editedBullet?._id === bullet._id; else mobileDefaultActions">
          
          <!-- Show Guardar and Cancelar buttons when editing on smaller screens -->
          <button class="border border-blue-400 text-blue-500 bg-blue-100 p-1 rounded" (click)="updateBullet()">
            Guardar
          </button>
          <button class="bg-gray-100 text-red-500 border border-red-500 px-3 p-1 mx-2 rounded" (click)="cancelEdit($event)">
            x
          </button>
        </ng-container>
  
        <!-- Default three dots for view mode (small screens) -->
        <ng-template #mobileDefaultActions>
          <div class="flex items-center">
            <!-- checkbox requerido -->
            <div class="bullet-checkbox mr-2" (click)="toggleRequerido(bullet)">
              <!-- Show check icon based on the 'requerido' status -->
              <i 
                [class.fa-square-check]="bullet.requerido" 
                [class.fa-square]="!bullet.requerido" 
                class="fa-sharp fa-regular cursor-pointer text-lg">
              </i>
            </div>
        
            <!-- Three dots icon to open the modal -->
            <button (click)="toggleModal(bullet._id!, $event)" class="p-2">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
          </div>
        
          <!-- Modal for lower screens with edit and delete options -->
          <div 
            *ngIf="isModalOpen[bullet._id!]" 
            class="absolute top-8 right-0 bg-white shadow-md rounded-lg z-10 p-2 w-32"
          >
            <button class="w-full text-left border border-blue-400 text-blue-500 bg-blue-100 p-1 rounded mb-2" (click)="editBullet(bullet, $event); toggleModal(bullet._id!,$event)">
              Editar
            </button>
            <button class="w-full text-left bg-red-100 text-red-500 border border-red-500 p-1 rounded" (click)="deleteBullet(bullet._id!); toggleModal(bullet._id!,$event)">
              Eliminar
            </button>
          </div>
        </ng-template>
      </div>
  
      <!-- Default actions for larger screens -->
      <div class="hidden md:flex">
        <div *ngIf="isEditing && editedBullet?._id === bullet._id; else defaultActions">
          <button class="border border-blue-400 text-blue-500 bg-blue-100 p-1 rounded" (click)="updateBullet()">
            Guardar
          </button>
          <button class="bg-gray-100 text-red-500 border border-red-500 p-1 ml-2 rounded" (click)="cancelEdit($event)">
            Cancelar
          </button>
        </div>
  
        <!-- Default actions for view mode on larger screens -->
        <ng-template #defaultActions>
          <button class="border border-blue-400 text-blue-500 bg-blue-100 p-1 rounded" (click)="editBullet(bullet, $event)">
            Editar
          </button>
          <button class="border border-red-500 bg-red-100 text-red-500 p-1 ml-2 rounded" (click)="deleteBullet(bullet._id!)">
            Eliminar
          </button>
          <!-- Check icon to mark 'requerido' -->
          <button class="ml-3">
            <div class="bullet-checkbox mr-2" (click)="toggleRequerido(bullet)">
              <!-- Show check icon based on the 'requerido' status -->
              <i 
                [class.fa-square-check]="bullet.requerido" 
                [class.fa-square]="!bullet.requerido" 
                class="fa-sharp fa-regular cursor-pointer text-lg">
              </i>
            </div>
          </button>
        </ng-template>
      </div>
    </div>
  </li>
  







    <div id="bottom-bar"
        class="fixed bottom-0 left-0 right-0 bg-[#E8EFFF] shadow-lg p-2 transition-transform duration-300 transform translate-y-0">
      <button
        class="w-full bg-[#0a135d] rounded p-2 text-white text-center"
        (click)="enableAddNew()"
      >
            Añadir
        </button>
        
    </div>
  
  <!-- Error message -->
  <div *ngIf="errorMessage" class="text-red-500">
    {{ errorMessage }}
  </div>
  
  
  <ng-template #noBullets>
    <p>No se encontraron checks en esta seccion.</p>
  </ng-template>

  



</div>