
<body>
    <header id="top-bar" class="fixed top-0 left-0 right-0 z-10 bg-[#0a135d] shadow transition-transform duration-300">
        <div class="flex justify-between items-center p-4">
            <button (click)="goBack()" class="text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18L9 12L15 6" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <h1 class="text-lg text-white text-center my-2">Editar perfil</h1>
            <app-togglemenu></app-togglemenu>
        </div>
    </header>


    <section class="mainSection flex flex-col items-center justify-center px-6 py-8 mx-auto pt-24 mb-40 overflow-y">
        <div class="w-full md:mt-0 sm:max-w-md xl:p-0">
            <form [formGroup]="conductorForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">


                <!-- NOMBRE -->
                <div>
                    <label for="nombre" class="block mb-2 text-sm font-medium">Nombres y apellidos</label>
                    <input formControlName="name" id="nombre"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                        placeholder="John Smith" 
                        [value]="name"
                        readonly>
                    
                </div>



                <div class="flex justify-between w-full gap-5">
                    <!-- DNI -->
                    <div class="w-1/2">
                        <label for="dni" class="block mb-2 text-sm font-medium">DNI</label>
                        <input formControlName="dni" id="dni"
                            class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                            placeholder="12345789"
                            [value]="dni">
                        
                    </div>
                    <!-- PHONE -->
                    <div class="w-1/2">
                        <label for="phone" class="block mb-2 text-sm font-medium">Teléfono</label>
                        <input formControlName="phone" id="phone"
                            class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                            placeholder="12345789"
                            [value]="phone">
                        <div *ngIf="f['phone'].touched && f['phone'].invalid" class="text-red-500 text-sm">
                            <div *ngIf="f['phone'].errors?.['required']">El teléfono es obligatorio.</div>
                            <div *ngIf="f['phone'].errors?.['pattern']">El teléfono debe tener entre 10 y 12 dígitos.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- EMAIL -->
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium">Correo electrónico</label>
                    <input formControlName="email" id="email"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                        placeholder="john@mail.com"
                        [value]="email"
                        required>
                    <div *ngIf="f['email'].touched && f['email'].invalid" class="text-red-500 text-sm">
                        <div *ngIf="f['email'].errors?.['required']">El correo electrónico es obligatorio.</div>
                        <div *ngIf="f['email'].errors?.['email']">El formato de correo electrónico no es válido.</div>
                    </div>
                </div>

                <!-- DIRECCION -->
                <div>
                    <label for="address" class="block mb-2 text-sm font-medium">Dirección</label>
                    <input formControlName="address" type="text" id="address"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                        placeholder="Miguel Angel Carcano, 1195" 
                        [value]="address"
                        required>
                        <div *ngIf="f['address'].touched && f['address'].invalid" class="text-red-500 text-sm">
                            <div *ngIf="f['address'].errors?.['required']">La dirección es obligatoria.</div>
                        </div>
                </div>

                <!-- ROL -->
                <div>
                    <label for="type_rol" class="block mb-2 text-sm font-medium">Rol de usuario</label>
                    <select formControlName="selectedRol" id="type_rol"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                        [value]="rol"
                        required>
                        <option *ngFor="let item of userOptions" [value]="item.value">{{ item.viewValue }}</option>
                    </select>
                </div>

                <hr>

                <!-- LICENCIA -->
                <div>
                    <label for="licencia" class="block mb-2 text-sm font-medium">Número de licencia</label>
                    <input formControlName="licencia" type="text" id="licencia"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                        placeholder="123456789" 
                        [value]="licencia"
                        required>
                        <div *ngIf="f['licencia'].touched && f['licencia'].invalid" class="text-red-500 text-sm">
                            <div *ngIf="f['licencia'].errors?.['required']">La licencia es obligatoria.</div>
                        </div>
                </div>

                <!--TIPO LICENCIA -->
                <div class="flex justify-between w-full gap-5">
                    <div class="w-1/2">
                        <label for="type_licence" class="block mb-2 text-sm font-medium">Tipo de licencia</label>
                        <select formControlName="selectedLicence" id="type_licence"
                            class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                            [value]="licencia"
                            required>
                            <option *ngFor="let item of licenceOptions" [value]="item.value">{{ item.viewValue }}
                            </option>
                        </select>
                    </div>
                    <div class="w-1/2">
                        <label for="vencimiento" class="block mb-2 text-sm font-medium">Vencimiento</label>
                        <input formControlName="expiration_licence" type="date" id="vencimiento"
                            class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500"
                            [value]="expiration_licence"
                            required>
                    </div>
                </div>

                <!-- BTN -->
                <button (click)="resetPassword()" type="reset"
                    class="bg-red-700 font-normal mx-auto text-white w-full px-4 py-2 rounded">Restaurar
                    Contraseña</button>

            </form>
        </div>
    </section>


    <section class="other-btns flex flex-col md:w-full md:mt-0 sm:max-w-md xl:p-0">
        <div class="btn-container w-full p-4 bg-[#E8EFFF] flex flex-col gap-5 justify-center">
            <button style="border: 1px solid #0A135D;" (click)="goToHistory()"
                class="bg-inherit font-normal mx-auto text-blue-950 w-full px-6 py-2 rounded">
                Historial de vehículos
            </button>

            <button (click)="editUser()" class="bg-btnColor font-normal mx-auto text-white w-full px-4 py-2 rounded">
                Guardar perfil
            </button>
        </div>
    </section>


    <div class="fixed bottom-0 left-0 right-0 w-100">
        <app-footer-desktop></app-footer-desktop>
    </div>


</body>