<p>tapasy-otros works!</p>
<div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Tapas y Otros</h2>
  
    <form [formGroup]="tapasYOtros">
      <div class="space-y-4">
        <div class="flex items-center">
          <input type="checkbox" id="tapaMotor" formControlName="tapaMotor" class="mr-2">
          <label for="tapaMotor" class="text-lg">Tapa del motor</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="tapaMaletero" formControlName="tapaMaletero" class="mr-2">
          <label for="tapaMaletero" class="text-lg">Tapa del maletero</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="parachoques" formControlName="parachoques" class="mr-2">
          <label for="parachoques" class="text-lg">Parachoques</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="taponesLlantas" formControlName="taponesLlantas" class="mr-2">
          <label for="taponesLlantas" class="text-lg">Tapones de las llantas</label>
        </div>
  
        <div class="flex items-center">
          <input type="checkbox" id="limpiaparabrisas" formControlName="limpiaparabrisas" class="mr-2">
          <label for="limpiaparabrisas" class="text-lg">Limpiaparabrisas</label>
        </div>
      </div>
    </form>
  </div>
  
