<header 
    id="top-bar"
class="fixed top-0 left-0 right-0 z-10 bg-[#0a135d] shadow transition-transform duration-300">
    <div class="flex items-center p-4">
      <button (click)="goBack()" class="text-blue-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M15 18L9 12L15 6" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button> 
      <h1 class="text-lg text-white text-center">Categorias</h1>
      <nav class="mx-1 text-[#0a135d]">|</nav>
    </div>
  </header>

<div class="container mx-auto p-4 pt-16">
    
  
    <!-- Add or Edit Category -->
    <div class="mb-4 mt-2">
      <div >
        <input 
        type="text" 
        class="border p-2 w-full rounded" 
        placeholder="Enter category name" 
        [(ngModel)]="categoryName" 
      />
      </div>
      
      <div class=" flex justify-between">
        <button 
        class="bg-[#0a135d] hover:bg-blue-900 text-white py-2 px-4 mt-2 rounded" 
        (click)="isEditing ? updateCategory() : createCategory()"
      >
        {{ isEditing ? 'Cambiar nombre' : 'Añadir' }}
      </button>
  
      <!-- Show Cancel button when editing -->
      <button 
        *ngIf="isEditing"
        class="bg-gray-500 hover:bg-red-600 text-white py-2 px-4 mt-2 ml-2 rounded"
        (click)="cancelEdit()"
      >
        Cancelar
      </button>
      <button class="top-4 right-4 bg-[#0a135d] text-white p-2 rounded mt-2 " (click)="toggleButtons()">
        Editar
      </button>
      </div>
    </div>


    
    <!-- Display List of Categories -->
    <div *ngIf="categories.length > 0" >
      <ul>
        <li 
          *ngFor="let category of categories" 
          class="bg-blue-100 border p-2 mb-2 flex justify-between items-center">
          <div class="m-2 w-3/5 text-lg" (click)="onCategoryClick(category)">{{ category.name }}
          </div>
          <div class="flex w-2/5 justify-end">
            <!-- Edit and Delete buttons -->
            <div *ngIf="showActions" >
                <button  class="bg-green-500 text-white p-1 rounded" (click)="editCategory(category)">
                    Edit
                </button>
                <button class="bg-red-500 text-white p-1 ml-2 rounded" (click)="deleteCategory(category._id!)">
                    Delete
                </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

  <!-- Message if no sections are available -->
 <div *ngIf="selectedCategory" class="mt-6">
    <h2 class="text-xl font-semibold mb-2">Sections for {{ selectedCategory.name }}</h2>
    <ul>
      <li 
        *ngFor="let section of sections" 
        class="bg-gray-100 border p-2 mb-2 rounded"
      >
        {{ section.name }}
      </li>
    </ul>
  </div>
</div>
