<div class="bg-white min-h-screen">
  <app-subheader [pageTitle]="'Agregar vehículo'"></app-subheader>
 <div class="container">
  <div class="p-4 flex items-center justify-between max-w-4xl mx-auto">
    <!-- Tipo de vehículo -->
    <p class="text-lg font-semibold">Perfil del vehículo</p>
  
    <!-- Selector para cambiar estado del vehículo -->
    <div class="ml-6 max-w-xs">
      <label for="status" class="text-sm font-semibold mb-2"></label>
      <select [(ngModel)]="status" id="status" class="p-2 border border-gray-300 rounded-3xl w-full">
        <option value="" disabled selected>- Seleccionar</option>
        <option value="Disponible">Disponible</option>
        <option value="Ocupado">Ocupado</option>
        <option value="Reparacion">Reparación</option>
        <option value="Deshabilitado">Deshabilitado</option>
      </select>
    </div>
  </div>
  
  <!-- Sección de marca y placa -->
  <div class="p-4 space-y-3 max-w-4xl mx-auto">
    <section class="grid grid-cols-2 gap-6">
      <div class="text-lg">
        <label>Marca</label>
        <input maxlength="25" [(ngModel)]="make" (keypress)="onlyLetters($event)"
          class="w-full px-4 p-1 border rounded border-gray-500"
          id="selectMarca"
        />
      </div>
      <div class="text-lg">
        <label>Placa</label>
        <input maxlength="6" [(ngModel)]="plate" (keypress)="onlyLettersAndNumbers($event)"
          class="w-full px-4 p-1 border rounded border-gray-500"
          id="selectPlaca"
        />
      </div>
    </section>
  
    <!-- Sección de tipo de vehículo y modelo -->
    <section class="grid grid-cols-2 gap-6">
      <div class="text-lg">
        <label>Tipo de vehículo</label>
        <select
          class="w-full px-4 p-1 border rounded border-gray-500"
          id="selectTipoV"
          [(ngModel)]="TipoId"
        >
          <option value=""></option>
          <!-- Adjust for Angular binding here if needed -->
          <option *ngFor="let tipo of arrayVehiculo; trackBy: trackByTipoId" 
          [value]="tipo._id">{{ tipo.name }}</option>
        </select>
      </div>
      <div class="text-lg">
        <label>Modelo</label>
        <input maxlength="25" [(ngModel)]="model"
          (keypress)="onlyLettersNumbersAndDash($event)"
          class="w-full px-4 p-1 border rounded border-gray-500"
          id="selectModelo"
        />
      </div>
    </section>
  
    <section class="grid grid-cols-2 gap-6">
      <div class="text-lg">
        <label>Año de fabricación</label>
        <input (input)="limitNumberLength($event, 4, 'year')" maxlength="4" type="number"
          [(ngModel)]="year"
          (keypress)="onlyNumbers($event)"
          class="w-full px-4 p-1 border rounded border-gray-500 no-spinner"
          (keydown)="preventNegative($event)" />
      </div>
      <div class="text-lg">
        <label>Vin</label>
        <input (input)="limitNumberLength($event, 4, 'year')" maxlength="4" type="number"
          [(ngModel)]="vin"
          (keypress)="onlyLettersAndNumbers($event)"
          class="w-full px-4 p-1 border rounded border-gray-500 no-spinner"
          (keydown)="preventNegative($event)" />
      </div>
      
    </section>
  </div>


  <!-- Desktop Button (Centered below the form, only visible on desktop) -->
<div class="hidden md:flex justify-center mt-6 ">
  <button (click)="guardarVehiculo()" class="border min-w-80 rounded border-btnColor bg-btnColor text-white px-8 py-3 text-lg font-medium">
    Confirmar
  </button>
</div>
<!-- Mobile Button (Fixed at the bottom, only visible on mobile) -->
<div class="fixed bottom-0 w-full p-4 bg-bgAzulClaron flex flex-col space-y-2 justify-center md:hidden">
  <button (click)="guardarVehiculo()" class="border rounded border-btnColor bg-btnColor text-white w-full px-4 py-2 text-lg font-medium">
    Confirmar
  </button>
</div>


 </div>
</div>




