<body>

    <div *ngIf="isLoading"
        class="absolute inset-0 flex justify-center items-center backdrop-blur-sm bg-opacity-30 z-10">
        <div class="loader"></div>
    </div>

    <header id="top-bar" class="fixed top-0 left-0 right-0 z-10 bg-[#0a135d] shadow transition-transform duration-300">
        <div class="flex justify-between items-center p-4">
            <button (click)="goBack()" class="text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18L9 12L15 6" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <h1 class="text-lg text-white text-center my-2">Editar perfil</h1>
            <app-togglemenu></app-togglemenu>
        </div>
    </header>


    <section class="mainSection flex flex-col items-center justify-center px-6 py-8 mx-auto pt-24 mb-40 overflow-y">
        <div class="w-full p-4 md:mt-0 sm:max-w-md xl:p-0">
            <form [formGroup]="userForm" (ngSubmit)="editUser()" class="space-y-4 md:space-y-6">

                <!-- PROFILE -->
                <div class="flex justify-between w-full gap-5">
                    <!-- FOTO DE PERFIL -->
                    <!-- <div class="foto cursor-pointer" (click)="fileInput.click()">
                        <img [src]="pfp" alt="foto de perfil" class="rounded-md w-[72px] h-[72px] object-cover"/>
                    </div>
                    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                        style="display: none;" /> -->

                    <div class="profile-picture-container relative">
                        <input type="file" accept="image/*" (change)="pfpSelected($event)" #fileInput
                            class="absolute inset-0 cursor-pointer opacity-0 z-10" (click)="fileInput.value = ''" />
                        <div class="foto" (click)="fileInput.click()">
                            <img [src]="pfp" alt="Foto de perfil" class="rounded-md w-[72px] h-[72px] cursor-pointer" />
                        </div>
                    </div>

                    <!-- STATUS -->
                    <div class="relative inline-block text-left w-36 text-white text-sm">
                        <div class="p-1 border border-gray-300 rounded-3xl flex items-center justify-between cursor-pointer"
                            [ngClass]="{
                                'bg-[#15690B]': status === true, 
                                'bg-[#9e1618]': status === false
                            }" (click)="toggleDropdown()">
                            <div class="flex items-center">
                                <span class="flex items-center justify-center h-2 w-2 rounded-full mx-2" [ngClass]="{
                                    'bg-[#15690B]': status === true,
                                    'bg-[#9e1618]': status === false
                                }"></span>
                                {{ status ? 'Habilitado' : 'Inhabilitado' }}
                            </div>
                            <i class="fas fa-chevron-down mr-1"></i>
                        </div>


                        <div *ngIf="isDropdownOpen"
                            class="absolute z-10 mt-2 w-full rounded-md bg-white shadow-lg text-black">
                            <div class="py-1">
                                <div class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
                                (click)="onStatusClick(true)">
                                    <span
                                        class=" flex items-center justify-center h-4 w-4 rounded-full mr-2 bg-green-600"></span>
                                    Habilitado
                                </div>
                                <div class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
                                    (click)="onStatusClick(false)">
                                    <span
                                        class="flex items-center justify-center h-4 w-4 rounded-full mr-2 bg-red-500"></span>
                                    Inhabilitado
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- NOMBRE -->
                <div>
                    <label for="nombre" class="block mb-2 text-sm font-medium">Nombre y Apellido</label>
                    <input formControlName="name" type="text" id="nombre" readonly
                        class="text-gray-600 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500" />
                </div>

                <div class="flex justify-between w-full gap-5">
                    <!-- DNI -->
                    <div class="w-1/2">
                        <label for="dni" class="block mb-2 text-sm font-medium">DNI</label>
                        <input formControlName="dni" type="text" id="dni" readonly
                            class="text-gray-600 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500" />
                    </div>

                    <!-- TELEFONO -->
                    <div class="w-1/2">
                        <label for="phone" class="block mb-2 text-sm font-medium">Teléfono</label>
                        <input formControlName="phone" type="text" id="phone"
                            class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500" />
                        <div *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)"
                            class="text-red-600 text-sm">
                            <span *ngIf="userForm.get('phone')?.errors?.['required']">El número de teléfono es
                                obligatorio.</span>
                            <span *ngIf="userForm.get('phone')?.errors?.['pattern']">El número de teléfono debe tener
                                entre 10 y 15 dígitos.</span>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium">Correo electrónico</label>
                    <input formControlName="email" type="email" id="email"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500" />
                    <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
                        class="text-red-600 text-sm">
                        <span *ngIf="userForm.get('email')?.errors?.['required']">El correo electrónico es
                            obligatorio.</span>
                        <span *ngIf="userForm.get('email')?.errors?.['pattern']">El correo electrónico no tiene un
                            formato válido.</span>
                    </div>
                </div>

                <!-- DIRECCION -->
                <div>
                    <label for="address" class="block mb-2 text-sm font-medium">Dirección</label>
                    <input formControlName="address" type="text" id="address"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500" />
                    <div *ngIf="userForm.get('address')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
                        class="text-red-600 text-sm">
                        <span *ngIf="userForm.get('address')?.errors?.['required']">La dirección es
                            obligatoria.</span>

                    </div>
                </div>

                <hr>

                <!-- ROL -->
                <div>
                    <label for="rol" class="block mb-2 text-sm font-medium">Rol</label>
                    <select formControlName="rol" id="rol"
                        class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500">
                        <option *ngFor="let option of userOptions" [value]="option.value">{{ option.viewValue }}
                        </option>
                    </select>
                </div>

                <!-- LICENCIA -->
                <div>
                    <label for="licencia" class="block mb-2 text-sm font-medium">Licencia</label>
                    <input formControlName="licencia" type="text" id="licencia" readonly
                        class="text-gray-600 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500" />
                </div>


                <div class="flex justify-between w-full gap-5">
                    <!-- TIPO LICENCIA -->
                    <div class="w-1/2">
                        <label for="type_licence" class="block mb-2 text-sm font-medium">Tipo de licencia</label>
                        <select formControlName="type_licence" id="type_licence"
                            class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500">
                            <option *ngFor="let option of licenceOptions" [value]="option.value">{{ option.viewValue }}
                            </option>
                        </select>
                    </div>

                    <!-- EXPIRACION -->
                    <div class="w-1/2">
                        <label for="expiration_licence" class="block mb-2 text-sm font-medium">Vencimiento de
                            licencia</label>
                        <input formControlName="expiration_licence" type="date" id="expiration_licence"
                            class="text-gray-900 text-sm focus:ring-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500" />
                    </div>
                </div>


            </form>
            <button (click)="resetPassword()"
                class="bg-red-700 space-y-4 mt-4 font-normal mx-auto text-white w-full px-4 py-2 rounded">Restaurar
                Contraseña</button>
        </div>
    </section>

    <section class="other-btns flex flex-col md:w-full md:mt-0 sm:max-w-md xl:p-0">
        <div class="btn-container w-full p-4 bg-[#E8EFFF] flex flex-col gap-5 justify-center">
            <button style="border: 1px solid #0A135D;" (click)="goToHistory()"
                class="bg-inherit font-normal mx-auto text-blue-950 w-full px-6 py-2 rounded">
                Historial de vehículos
            </button>

            <button (click)="editUser()" class="bg-btnColor font-normal mx-auto text-white w-full px-4 py-2 rounded">
                Guardar perfil
            </button>
        </div>
    </section>

    <div class="fixed bottom-0 left-0 right-0 w-100">
        <app-footer-desktop></app-footer-desktop>
    </div>

</body>