
.other-btns {
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

.swal2-cancelButtonText {
  color: #0A135D !important;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0A135D; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Start with the section visible */
.other-btns {
    transition: transform 0.3s ease;
  }
  
  .translate-y-full {
    transform: translateY(100%); /* Move off-screen */
  }
  
  .translate-y-0 {
    transform: translateY(0); /* Move back on-screen */
  }
  
.enable{
  color: #15690B;
}

@media (max-width: 639px) {
    .other-btns {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }


}

@media (min-width: 640px) {
    .other-btns {
        position: static;
        width: 100%;
        margin-bottom: 150px;
    }

    .mainSection {
        margin-bottom: 0;
    }

    .btn-container{
        padding: 0;
        background-color: white;
      

    }
}

